<div class="container my-5">
    <div class="row align-items-center">

        <div class="col-md-6 text-center">
            <img src="assets/img/bandeiras-br-jp.png" alt="Bandeira Brasil-Japão" class="img-fluid rounded shadow" />
        </div>

        <div class="col-md-6">
            <h2 class="fw-bold mb-4">Sobre o Nippon Sorocaba</h2>
            <p>
                Antiga UCENS (União Cultural e Esportiva Nipo-brasileira de Sorocaba), a partir de 2022 em comemoração
                aos 60 anos da nossa associação, passamos a nos denominar <strong>NIPPON SOROCABA</strong>.
            </p>
            <p>
                Atuando desde 16 de junho de 1962 (com outros nomes), a UCENS é o principal representante da colônia
                japonesa de Sorocaba, também conhecido como KAIKAN, e tem como principais objetivos a união de seus
                associados através da cultura milenar japonesa e dos esportes e a divulgação e promoção da cultura
                japonesa e do intercâmbio entre o Brasil e o Japão.
            </p>
            <p>
                Seus objetivos sociais são atingidos através das atividades de diversos departamentos, da área esportiva
                e outras de natureza cultural, além dos eventss que promove para toda a cidade de Sorocaba e região.
            </p>
        </div>
    </div>
</div>
<div class="historia-wrapper py-5">
    <div class="container">
        <h1 class="text-center mb-5">História do Nippon Sorocaba</h1>

        <section>
            <h5><strong>I – Introdução</strong></h5>
            <p>O nascimento de uma associação de pessoas, objetivando produzir benefícios aos seus sócios, pode ser
                comparado ao nascimento de um rio. Ninguém poderá afirmar, sem qualquer dúvida, qual foi a primeira
                vertente inicial que lhe deu origem, qual foi o primeiro fio de água originário de uma pequena nascente,
                localizada numa serra ou montanha. À medida que vai descendo, vai se juntando a outras correntes
                originárias de outras montanhas. De repente, essa corrente poderá encontrar uma fresta no solo e poderá
                até desaparecer, minando novamente a quilômetros dali.</p>
            <p>À medida que vai recebendo novos afluentes à direita e à esquerda vai crescendo e toma-se um pequeno
                riacho. Aí, recebe o seu primeiro nome, passando a fazer parte do mapa geográfico, dada sua importância
                segundo os benefícios que produz. </p>
            <p>Se vamos falar do nascimento da União Cultural e Esportiva Nipo-Brasileira de Sorocaba (UCENS), já como
                uma sociedade regularmente organizada, não há como deixar de considerar o aspecto subjetivo do conjunto
                de situações que antecederam a sua fundação, produto da imaginação dos seus narradores a partir de
                indícios e probabilidades. Como disse Toynbee, “a história é um dos inúmeros ângulos da visão da
                realidade”. </p>
            <p>Na década de 50, os nipo-brasileiros (isseis mais os nisseis, ou seja, os japoneses e seus descendentes)
                já tinham deixado para trás as sombrias circunstâncias da II Guerra Mundial, abandonando o espírito de
                dekasseguis (trabalhar fora e remeter os recursos à sua origem), que mantinham até então, para
                resolverem definitivamente se integrar à vida nacional. Na comemoração dos 300 anos da fundação de
                Sorocaba, em 1954, os integrantes da comunidade japonesa uniram-se para presentear a cidade com a
                construção da “Torre do Relógio”, na Praça Nicolau Scarpa, no centro da cidade.</p>
        </section>

        <section>
            <h5><strong>II – Primeiras associações</strong></h5>
            <p>Em agosto de 1955, quando a Associação Japonesa Céu Azul de Sorocaba (Aozora Sorocaba Nihonjin-kai),
                fundada em 1949, foi sucedida pela Associação Japonesa de Sorocaba (Nihonjin-kai de Sorocaba), contava
                com 180 sócios. Com o passar dos anos, o número de associados reduziu drasticamente. Em fevereiro de
                1959, a associação trocou novamente de nome, passando a denominar-se de União Cultural Nipo Brasileira
                de Sorocaba (Nippaku Bunka Kyokai de Sorocaba). A transformação do nome não ajudou a manter ou aumentar
                o número de sócios. Passados dois anos, ao final de 1961, a associação teve que ser paralisada pela sua
                inviabilidade. </p>
            <p>Nessa época surgiu como liderança a pessoa de Tioki Takekuma(conhecido, também, como Kumabe), que,
                percorrendo a colônia nipo-brasileira de Sorocaba e cidades vizinhas como Araçoiaba da Serra,
                arregimentou vários sócios. Entre eles, havia, inclusive, remanescentes da Associação Cultural Nipo
                Brasileira de Sorocaba. Em 14 de janeiro de 1962, fundou a nova associação, com nome de Associação
                Japonesa da Região de Sorocaba (Ham Nihonjin-kai de Sorocaba), cujo primeiro presidente foi ele próprio,
                Tioki Takekuma.
                Como se observa da narrativa, não havia uma preocupação com o aspecto legal da instituição. Criava-se e
                extinguia-se uma associação sem qualquer cerimônia. A denominação em português da associação era
                raramente utilizada. Portanto, neste texto, foi feita ma tradução quase literal dos nomes das
                associações por causa da falta de um registro formal contendo razão social ou denominação. </p>
            <p>Entretanto, na fundação da Associação Japonesa da Região de Sorocaba, houve a necessidade de ser
                legalizada a associação, em vista das necessidades de relacionamento com órgãos de governo (Municipal,
                Estadual ou Federal). Contou para tanto, na época, com a ajuda do associado Toshiyasu Ohki, que
                pessoalmente se envolveu com essa tarefa. Em vez de legalizar a sociedade já existente, acrescentando-se
                os estatutos, optou-se por fundar uma nova associação. Esta foi a hoje conhecida União Cultural e
                Esportiva Nipo-Brasileira de Sorocaba (Nippaku Bunka Taiiku Kyokai de Sorocaba), com a sigla de Ucens,
                atualmente consagrada em Sorocaba e região. </p>
        </section>

        <section>
            <h5><strong>III – Isseis e nisseis: união</strong></h5>
            <p>Em razão deste processo de legalização, devemos voltar um pouco no tempo para falar da associação de
                nisseis (filhos de imigrantes japoneses). Paralelamente à existência de associações japonesas,
                geralmente composta de sócios isseis (nascidos no Japão), foi fundada em Sorocaba, no final de 1959, uma
                associação composta exclusivamente de nisseis jovens (filhos de isseis, geralmente solteiros, conhecidos
                como “seinen”). A materialização desta associação foi conseguida graças à liderança de alguns seinen,
                entre eles Yoshitomi Miyamoto, Paulo Massayoshi Mitsuoka, e Jorge Yamashita. Esta associação foi fundada
                com o nome de União Cultural e Esportiva dos Nisseis de Sorocaba, sob a sigla de Ucens, com objetivo de
                realizar programas mais voltados aos interesses dos jovens. As atividades realizadas pela associação
                eram encontros sociais, como bailes, sessões de cinema, festas de aniversário, passeios recreativos,
                entre outras atividades. Representando Sorocaba, participava, também, das atividades esportivas
                organizadas pela Sudoeste, órgão que congregava associações nipo- brasileiras das cidades da região
                Sudoeste do Estado de São Paulo, beisebol, tênis de mesa, vôlei, concurso de canto (nododimam),
                oratória, por exemplo.</p>
            <p>A participação desses jovens nisseis, chamados de seinen na fundação da Ucens, foi importante. Foi o
                momento em que houve a união de esforços entre isseis e nisseis, dirigidos para criar uma associação
                reconhecida legalmente.</p>
            <p>A reunião que deu os primeiros passos da fundação ocorreu em 16 de junho de 1962, na residência do sócio
                Naossuke Hebita, local freqüentemente utilizado para tais fins. Havia 25 pessoas, membros da Associação
                Japonesa da Região de Sorocaba e da União Cultural e Esportiva dos Nisseis de Sorocaba. Foi acatado
                nessa reunião um dos nomes sugeridos para nova sociedade: União Cultural e Esportiva Nipo-Brasileira de
                Sorocaba. Substituiu-se “Nisseis” por “Nipo-Brasileira”, e adotou-se a mesma sigla de Ucens. Os
                estatutos sociais foram aprovados pela assembléia geral extraordinária realizada em 24 de junho de 1962.
                O primeiro presidente da nova sociedade foi o jovem Milton Massato Hida, eleito em 29 de junho de 1962.
            </p>
            <p>Oficialmente, eram eleitos nisseis, entretanto, a administração de fato da Ucens foi exercida pelos
                líderes da antiga Associação Japonesa da Região de Sorocaba, por pelo menos nove anos. Até que, em março
                de 1971, com a eleição de Mitsuji Karazawa, antigo membro da Associação Japonesa da Região de Sorocaba
                para a presidência da Ucens, veio a consolidar-se de fato e de direito aquilo que constava
                estatutariamente. A partir daí, até os dias atuais, a questão sucessória transcorre naturalmente,
                alternando-se na presidência, com mais freqüência, sócios nisseis do que isseis.</p>
        </section>

        <section>
            <h5><strong>IV – Correntes migratórias</strong></h5>
            <p>Estatutariamente, a Ucens esteve aberta para aceitar sócios de qualquer corrente migratória, mas na
                prática isso veio a acontecer só no início da década de 90, após a promulgação da Constituição Federal
                de 1988. A abertura para aceitar sócios contemporâneos da imigração japonesa, bem como seus descendentes
                seria uma conseqüência natural e até previsível, ou seja, uma questão de tempo. Mesmo porque a união de
                jovens (de terceira geração, os sanseis) de várias origens é fato inconteste na sociedade brasileira. A
                associação não poderia discriminar nem ignorar esta verdade. Esta miscigenação e a convivência
                associativa contribuem para dar e receber a rica cultura dos povos, enriquecendo as transformações que
                ocorrem na sociedade brasileira.</p>
            <p>Os objetivos sociais são atingidos através das atividades de diversos departamentos, da área esportiva e
                outras de natureza cultural, para atingir um público alvo de mais de 450 sócios, compreendendo uma
                população superior a 1.800 pessoas.</p>
            <p>Estatisticamente, contamos, ainda, no quadro associativo, com aproximadamente 200 isseis, divididos entre
                sócios, cônjuges e dependentes. Eles são originários de quase todas as províncias do Japão. As
                principais são: Kumamoto, Okinawa, Fukushima, Hiroshima, Fukuoka, Hokkaido, Ehime, Kagoshima e Miyagi,
                em ordem decrescente.</p>
        </section>

        <section>
            <h5><strong>V – Política brasileira influenciou na organização da Ucens</strong></h5>
            <p>De 1962 a 1970, a entidade possuía dois presidentes: um de direito e outro de fato. A partir de 1971, o
                presidente passou a ser um só.</p>
            <p>A história da União Cultural e Esportiva Nipo-Brasileira de Sorocaba (UCENS) também sofreu influência da
                atribulada situação política do Brasil, no pós-guerra. Os imigrantes eram praticamente vedados do
                direito de associação, sendo-lhes restringido o exercício de cargo de direção em algumas entidades. Na
                Ucens, do período de 1962 a 1970 (ver QUADRO I), existiam o presidente de direito, conforme o estatuto,
                e o presidente de fato. Os presidentes de direito – representantes legais – geralmente eram os nisseis
                (filhos dos isseis, portanto, brasileiros de nascimento), enquanto a administração da associação estava
                a cargo dos isseis (antigos associados da Associação Japonesa da Região de Sorocaba).</p>
            <p>A partir de 1971 (ver QUADRO 2), o presidente da Ucens centralizou-se na figura de uma só pessoa, que
                passou a responder legalmente pela entidade e pela sua administração, exercendo poderes de direito e de
                fato. A duração do mandato da diretoria da Ucens era de dois anos, de 1973 a 2000. Atualmente, tal como
                na época da sua fundação, o mandato da diretoria tem duração de um ano, de acordo com a reforma dos
                estatutos aprovados em 20 de janeiro de 2002.</p>
        </section>

        <section>
            <h5><strong>VI – Principais instalações físicas</strong></h5>
            <p>Em 1965, por meio do esforço conjunto dos associados, foi adquirido um imóvel urbano para construção da
                sua sede. O terreno, com 750 m2, está localizado na Rua Manoel Leite Magalhães, 55, no centro de
                Sorocaba. A construção do prédio do kaikan (associação) foi iniciada e inaugurada no mandato de Tadaomi
                Yuri (1965/1967) e tem até hoje a função de sede social, além de servir para diversas atividades
                sociais, como dança, karaokê, festa de ano novo, entre outras.</p>
            <p>Nessa mesma época, recebeu em doação um imóvel com área aproximada de 23.3 00 m2, no qual se alojam as
                instalações esportivas, na Rua Kiyoshi Minami,100, no Jardim Luciana Maria. Dentre as instalações
                esportivas, merece destaque o ginásio polisporty, com área coberta de aproximadamente 1000 m2,
                construída durante 1983 e 1984, na administração de Massanobu Sato.</p>
            <p>No ano 2000 o Sr. Toshiyaki Hishinuma , grande empresário do ramo de cosméticos da cidade, doou uma área
                em Araçoiaba da Serra, de 5 alqueires, onde foi construído uma estrutura de lazer com quiosque,
                churrasqueiras, piscinas para adulto e crianças, vestiários, campo de futebol societe, chalé, quadra de
                volleyball, e três quadras de tênis, com grandes possibilidades de expansão, pois foi ocupado apenas uma
                parte da área.</p>
            <p>No ano de 2021, durante a presidência do Issao Kagiyama na pandemia, nosso estatuto foi alterado e entre
                as alterações, foi criado o Conselho Deliberativo, que vai traçar o planejamento da nossa associação
                para os próximos anos.</p>
        </section>

        <section>
            <h5><strong>VII – Novo nome</strong></h5>
            <p>O nosso antigo nome UCENS era uma abreviação de União Cultural e Esportiva Nipo-brasileira de Sorocaba. E
                apesar de fazer sentido para os nossos associados, causava uma certa estranheza e dificuldade para as
                demais pessoas que não faziam parte de nossa associação, tanto na pronúncia, como na memorização e no
                significado.</p>
            <p>Em 2022, em comemoração aos 60 anos da nossa associação, passamos a nos denominar Nippon Sorocaba.</p>
        </section>

        <section>
            <p class="mt-4">
                <em>
                    Pesquisa e créditos a SHOZI UMEDA – ex-presidente da Ucens. Os textos “Primeiras Associações” e
                    “Correntes Migratórias” foram produzidos a partir de entrevista de MASSANOBU SATO concedida a SHOZI
                    UMEDA, KIMIYUKI NOMORA e YASUSHI HIGASHI. O texto “Isseis e Nisseis: União” feito com base de
                    entrevista de YOSHITOMI MIYAMOTO a SHOZI UMEDA.
                </em>
            </p>
        </section>
    </div>
</div>