<main class="dashboard-page">
  <div class="dashboard-panel">
    <h1 class="panel-title">Painel de Controle</h1>
    <div class="panel-content">
      <mat-card class="dash-card" routerLink="/list-associates">
        <mat-card-content>
          <mat-icon class="dash-icon">people</mat-icon>
          <div class="dash-label">Associados</div>
        </mat-card-content>
      </mat-card>

      <mat-card class="dash-card" routerLink="/list-dependents">
        <mat-card-content>
          <mat-icon class="dash-icon">person</mat-icon>
          <div class="dash-label">Dependentes</div>
        </mat-card-content>
      </mat-card>

      <mat-card class="dash-card" routerLink="/list-activities">
        <mat-card-content>
          <mat-icon class="dash-icon">fitness_center</mat-icon>
          <div class="dash-label">Atividades</div>
        </mat-card-content>
      </mat-card>

      <mat-card class="dash-card" routerLink="/list-events">
        <mat-card-content>
          <mat-icon class="dash-icon">event</mat-icon>
          <div class="dash-label">Eventos</div>
        </mat-card-content>
      </mat-card>

      <mat-card class="dash-card" routerLink="/financial-dashboard">
        <mat-card-content>
          <mat-icon class="dash-icon">attach_money</mat-icon>
          <div class="dash-label">Financeiro</div>
        </mat-card-content>
      </mat-card>

      <mat-card class="dash-card" routerLink="/list-suppliers">
        <mat-card-content>
          <mat-icon class="dash-icon">local_shipping</mat-icon>
          <div class="dash-label">Fornecedores</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>