<div class="container my-5">
    <h2 class="fw-bold mb-4 text-center">Eventos do Nippon Sorocaba</h2>
    <b>Sobre os nossos eventos</b>
    <br>
    <br>

    O Nippon Sorocaba (UCENS) é bastante conhecido, tanto pelos seus associados como pela população de Sorocaba e região pelos grandes eventos que realiza.

    Entre eles podemos destacar alguns eventos abertos como o Festival Japonês na Praça Kasato Maru celebrando a imigração japonesa no Brasil, o Bon Odori e tantos outros eventos gastronômicos japoneses (yakisoba, sushi, sashimi, guiozá, tempurá, etc.) e brasileiros (boi no rolete, coquetel, jantar dançante, festa do chopp, etc.) e outros eventos internos como o Shinnenkai e o Undokai.

    Além de ser a sede, em muitas ocasiões, de torneios internos, regionais e até nacionais nas mais variadas atividades esportivas que sedia.
</div>

