<main class="view-page" *ngIf="!isLoading && event">
  <div class="view-container">
    <button mat-stroked-button color="warn" class="btn-voltar" routerLink="/list-events">
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar para o Calendário</span>
    </button>
    
    <div class="header-section">
      <img [src]="event?.imagemUrl || 'assets/placeholder-image.jpg'" [alt]="event?.nome" class="header-image">
      <div class="header-title">
        <h1>{{ event?.nome }}</h1>
        <p class="lead">Local: {{ event?.local }}</p>
      </div>
    </div>
    
    <div class="details-grid">
        <div class="detail-card">
            <h3>Período do Evento</h3>
            <p><strong>Início:</strong> {{ event?.inicio | date:'fullDate' }} às {{ event?.inicio | date:'shortTime' }}</p>
            <p><strong>Fim:</strong> {{ event?.fim | date:'fullDate' }} às {{ event?.fim | date:'shortTime' }}</p>
        </div>

        <div class="detail-card full-width">
            <h3>Descrição</h3>
            <p>{{ event.descricao || 'Nenhuma descrição fornecida.' }}</p>
        </div>
    </div>

    <div class="actions-bottom">
      <button mat-stroked-button color="primary" class="btn-submit" [routerLink]="['/edit-event', event?.id]">
        <mat-icon>edit</mat-icon>
        <span>Editar Evento</span>
      </button>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading-indicator">
    <p>Carregando detalhes do evento...</p>
  </div>
</main>