<main class="view-activity-page">
  <button mat-stroked-button color="warn" class="btn-voltar" routerLink="/departments/sporty">
    <mat-icon>arrow_back</mat-icon>
    <span>Voltar</span>
  </button>
  <div class="activity-detail-container">
    <img src="assets/carp.jpg" class="bg-carpa" alt="carpa" />
    <div class="activity-header">
      <h2>{{ activity?.nome || 'Nome da Atividade' }}</h2>
      <span class="activity-code">Cód: {{ activity?.codigo || 'N/A' }}</span>
    </div>
    <div class="top-section">
      <div class="image-placeholder card">
        <img [src]="activity?.imageUrl || 'assets/default-activity.jpg'" alt="Imagem da Atividade"
          class="activity-image">
      </div>

      <div class="info-group card">
        <div class="category-identification">
          <p><strong>Categoria:</strong> {{ activity?.categoria || 'Não Informado' }}</p>
        </div>

        <div class="location-time-age">
          <p><strong>Local:</strong> {{ activity?.local || 'N/A' }}</p>
          <p><strong>Dias:</strong> {{ activity?.dias || 'N/A' }}</p>
          <br>
          <div class="activity-description">
            <h3>Detalhes da Atividade</h3>
            <p>{{ activity?.descricao || 'Nenhuma descrição disponível.' }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>