<main class="list-page">
        <button mat-stroked-button color="warn" class="btn-voltar" routerLink="/dashboard">
        <mat-icon>arrow_back</mat-icon>
        <span>Voltar</span>
    </button>
    <div class="toolbar">
        <h2>Dashboard Financeiro</h2>
        <p>Acompanhe os boletos gerados para os associados</p>
        <div class="filters">
            <mat-form-field appearance="outline">
                <mat-label>Filtrar por nome</mat-label>
                <input matInput [formControl]="filterNome" placeholder="Nome do associado">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Filtrar por Status</mat-label>
                <mat-select [formControl]="filterStatus" placeholder="Situação">
                    <mat-option value="">Todos</mat-option>
                    <mat-option value="Pago">Pago</mat-option>
                    <mat-option value="Pendente">Pendente</mat-option>
                    <mat-option value="Cancelado">Cancelado</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-grow">
                <mat-label>Pesquisar</mat-label>
                <input matInput [formControl]="filterGlobal" placeholder="Buscar em todos os campos...">
            </mat-form-field>
        </div>
        
        <button mat-raised-button class="btn-custom-style" (click)="navigateToGenerateBoleto()">
             Gerar Novo Boleto
        </button>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="styled-table">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Boleto</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                <td mat-cell *matCellDef="let row">{{row.associado.nome}}</td>
            </ng-container>
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                <td mat-cell *matCellDef="let row">{{row.valor | currency:'BRL'}}</td>
            </ng-container>
            <ng-container matColumnDef="vencimento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vencimento</th>
                <td mat-cell *matCellDef="let row">{{row.vencimento | date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let row">
                    <span class="status" [ngClass]="getStatusClass(row.status)">
                        {{ row.status }}
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                   aria-label="Itens por página"></mat-paginator>
</main>