<div class="container my-5">
    <h2 class="fw-bold mb-4 text-center">Regulamento Interno da UCENS</h2>
    <div class="statute-content">
        <pre style="white-space: pre-wrap; font-family: inherit; text-align: justify;">
            <br>
            Deliberações de Reuniões de Diretoria Executiva
            <b>1. OBJETIVO</b>

            O Regulamento Interno da União Cultural e Esportiva Nipo-Brasileira de Sorocaba (UCENS) tem por objetivo:

            • Definir sua Organização e Estrutura
            • Disciplinar o uso e manutenção de suas instalações
            • Tornar as diretrizes menos pessoais.
            • Regulamentar as atividades da sociedade
            • Estimular o exercício da cidadania
            • Promover a integração e confraternização entre todos os associados.
            • Estabelecer canais de comunicações entre a Diretoria, funcionários e associados.
            • Servir de base para os regulamentos internos de cada departamento

            Fundamento deste regulamento: O respeito ao próximo é a garantia de um convívio saudável.

            O Regulamento Interno rege regras complementares e não definidas no Estatuto da UCENS. Em caso de dúvida o Estatuto deve sobrepor as regras do Regulamento Interno.

            <b>2. ORGANIZAÇÃO E ESTRUTURA</b>
            Diretoria Executiva

 <img src="assets/img/estatuto_organograma.jpg"/>
     

            A diretoria da UCENS é composta por membros estatutários e diretores de cada departamento.

Membros estatutários – Presidente, Primeiro e Segundo Vice-Presidentes, Diretor e Vice-Financeiro, etc. São eleitos anualmente pela Assembléia Geral Ordinária.

Diretores de Departamento – são eleitos pelo associados do departamento anualmente.

Os departamentos são financeiramente auto-sustentáveis e independentes. Tem autonomia setorial, porém a responsabilidade legal é da UCENS.

Os diretores dos departamentos são funcionalmente subordinados ao Presidente e os departamentos esportivos ao 1º Vice-Presidente.
A partir de janeiro de 2019, conforme ata de reunião ordinária de 28 de novembro de 2018, o 1° vice presidente será o responsável pela Sede Campestre I, e o 2° Vice presidente será responsável pela Sede Campestre II.

Os Departamentos existentes são: Beisebol, Fujin, Futebol, Gueitebol, Karaokê,Mallet Golf, Nitigo, Roojin, Shogui, Taikô, Tenis de Campo, Tênis de mesa e Judô.
Os novos departamentos formados serão aprovados pela diretoria executiva e inseridos na imediata alteração do Estatuto.

O 1º Vice-Presidente deverá convocar pelo menos uma reunião bimestral com os diretores de esportes para coordenar as atividades esportivas.

Os ativos incorporados aos departamentos pertencem a UCENS.

As pessoas contratadas pelos departamentos, como exemplo professores, devem assinar um contrato de prestação de serviço (está a disposição na secretaria) e apresentar a diretoria da UCENS para aprovação em reunião mensal.

            <b>3. CALENDÁRIO</b>
            O calendário da UCENS será planejado na primeira reunião da diretoria executiva do ano considerando primeiro as necessidades próprias, depois o da UCES (União Cultural e Esportiva Sudoeste), em seguida as dos departamentos, sócios e não sócios.

Eventos tradicionais patrocinados pela UCENS que devem fazer parte do calendário. Undokai em Maio, Festa Julina em Julho, Missa aos Antepassados e Bon-Odori em Agosto, Engueikai/Keirokai em Setembro e Shinnenkai no primeiro domingo de Janeiro.

Os diretores de cada departamento serão apresentados à sociedade no evento do Shinnenkai, portanto há necessidade dos departamentos escolherem seus diretores antes do último dia do ano.

            <b>4. REUNIÕES</b>
            As reuniões de diretoria serão sempre na última quarta feira do mês e do Vice-Presidente com os departamentos de esportes na segunda quarta-feira dos meses ímpares.
Na reunião executiva é necessário o comparecimento de todos os diretores de departamentos ou suplentes indicados pelos diretores. Nas votações terão direito de voto somente os diretores ou um único suplente.
O sócios podem participar livremente da reunião da diretoria executiva. Se estiver interessado em discutir algum assunto específico deverá avisar a secretaria com antecedência de 24 horas para se colocar na pauta de discussões.

            <b>5. UTILIZAÇÃO DAS INSTALAÇÕES</b>
            Respeitar as regras de utilização de cada instalação.
A Sede Central, Campestre I e Campestre II tem instalações especificas de utilização dos associados do departamento. Outras instalações são de utilização em comum, como:

            Sede Central – salão. Podem ser utilizados pelos departamentos nos dias da semana conforme definido no calendário. No final de semana serão locados conforme segue:
1) associados: um salário mínimo
2) departamentos: meio salário mínimo
3) não-sócios: três salários mínimos
4) diversos fins de uso (4 h): meio salário mínimo
Na locação fica incluído mesas e cadeiras disponíveis no salão, devendo no ato da contratação receber 50% do valor e o restante na data que antecede o dia do uso.
A cozinha é de responsabilidade do Fujin-bu e da caseira.

Sede Campestre I: campo de futebol e ginásio.
Locação:
1) departamentos: contribuição espontânea
2) sócios: um salário mínimo
3) não sócios: três salários mínimos
4) sub-locação de atividades que geram rendas, serão cobrado 10% sobre o faturamento bruto ou com o mínimo de 1/3 do salário mínimo.
O estacionamento: será permitido somente fora do campo de futebol e beisebol, exceto nos dias do Undokai e do Bon Odori, ou com a autorização do presidente.

Sede Campestre II: piscina, quiosque, campo de futebol society, quadra de voleibol, playground, pista de caminhada, casa pré-construída.
Dos convidados de associados (no máximo de 20 pessoas) será cobrado uma taxa no valor de meio salário mínimo. O associado deverá fazer a reserva e pagar antecipadamente.
Uso do quiosque: Somente para departamentos. Sem custo.
Uso da Piscina: Uso livre apenas para associados e dependentes.

    <b>6. HORÁRIO DE UTILIZAÇÃO</b>
    Sede Central – 8:00h às 22:00h (segunda a sábado) e 8:00 às 18:00h (domingo)
Sede Campestre I e II – 8:00h às 18:00h (terça a domingo)
Horário de funcionamento da Secretaria:
Segunda a quinta-feira-8:00 às às 18:00 h
Na Sexta-feira – Das 08h00às 17h00

As exceções devem ter autorização do presidente.

            <b>7. ATRIBUIÇÕES DOS FUNCIONÁRIOS DA UCENS</b>
            Secretária
• Recebimento e envio de correspondências
• Recebimentos e pagamentos conforme a autorização da tesouraria, como recebimento de mensalidade e pagamentos diversos.
• Pagamento dos salários dos funcionários
• Controle do Caixa
• Compra de materiais para a Sede Central
• Recebimento de ficha de inscrição novo sócio, afastamento ou desligamento.
• Emissão de carteirinha da Ucens
• Emissão dos boletos bancários
• Controle de pagamentos de mensalidades
• Passar avisos de falecimentos de sócios para os kutios
• Elaboração de textos e planilhas no computador
• Checagem diária do e-mail
• Contato com outras associações para troca de informações e atualizações de dados
• Manter o presidente informado de todos os acontecimentos da Sede Central
• Atualizações do banco de dados da Ucens
• Elaborar e enviar o Informativo
• Emitir 2(dois) convites à diretoria das industrias ligadas à colônia, como também a prefeito, presidente da câmara de vereadores e secretaria especifica ao evento; como Undokai, Bon-Odori, Shinnenkai, Kasato Maru.
Fica determinado a partir de março de 2020 que a secretária que participar na reunião de diretoria terá folga no período da tarde na sexta feira da mesma semana.
• Controle das mensalidades obedecendo aos seguintes critérios:
1. até 3(três) meses atrasados ( 2 boletos) – sem juros
2. mais de 3 (três) meses (2 boletos) – cobrança de 5% de juros ao mês
3. mais de 7 meses atrasados (4 boletos) – cancelamento automático

Caseiro da Sede Campestre I
– Manter o Presidente informado de todos os acontecimentos do local
– Revisão e manutenção da rede de esgoto;
– Revisão e manutenção da rede elétrica;
– Revisão e manutenção do muro;
– Revisão e manutenção do alambrado;
– Revisão e manutenção de portas e portões;
– Revisão e manutenção do de válvulas hidras;
– Limpeza das canaletas de água;
– Limpeza dos banheiros;
– Limpeza da cozinha;
– Limpeza dos campos de gateball;
– Limpeza da calçada externa;
– Limpeza da caçada das arquibancadas;
– Limpeza das calhas;
– Limpeza da caixa d’água;
– Limpeza do vestiário;
– Serviço de pintura;
– Serviço de encanamento geral;
– Serviço de reforma do gateball (uma) vez por ano;
– Capinar o campo de baseball;
– Cortar a grama do campo;
– Rastelar a grama do campo;
– Lavar a quadra do ginásio;
– Capinar atrás do campo de futebol;
– Recolher os lixos em geral;
– Organização dos quartinhos e depósitos;
– Revisão de extintores;
– Montagem de palco das festas (Bon-Odori, Festa do Chopp, etc);
– Decoração do Tiotim;
– Poda das arvores;
– Limpeza de entulho;
– Dedetização de formigas e cupins;
– Retirada de pragas do campo (mato, branqueara, etc);
– Atendimento e assistência aos associados nos horários estipulados de trabalho;
– Lavagem das calçadas, escadas e janelas;
– Compra de materiais de construção;
– Compra de materiais de limpeza;
– Compra de material elétrico;
– Horário de serviço: terça-feira à sábado das 8:00 h às 12:00 h e das 14:00 h às 18:00 h e domingo das 8:00 h às 12:00 h.

Caseiro da Sede Campestre II
1. Cuidar da segurança da propriedade
2. Limpar diariamente a piscina
3. Regar as plantas e flores
4. Lavar pelo menos uma vez por semana os quiosques e vestiários
5. Manter as gramas cortadas
6. Manutenção preventiva das instalações e equipamentos
7. Horário de serviço: quarta-feira à domingo das 8:00 h às 12:00 h e das 14:00 h às 18:00 h e terça-feira das 8:00 h às 12:00 h.
Porteiro da Sede Campestre I
1. Controle de entrada dos sócios
2. Vigilância dos automóveis dentro do estacionamento
3. Horário de serviço: sábado e domingo das 8:00 horas às 17:00 horas

Caseira da Sede Central
1. Lavar salão, 2º andar, banheiros, cozinha e corredores externos pelo menos 2 vezes ao mês
2. Manter limpa todas as dependências
3. Fazer reposição material dos banheiros
4. Recolhimento do lixo

            <b>8. MEIO AMBIENTE, SEGURANÇA E HIGIENE</b>
            • Os associados têm o dever de respeitar o meio ambiente conforme as seguintes recomendações:
• Lixo – jogar nos locais apropriados conforme o tipo. Quando encontrar lixo fora do lugar, favor jogar no local adequado. Dê exemplo e recomende aos distraídos.
• Compostagem. Sobras de comida, restos de podas de árvores e esterco de animais devem ser transformados em adubo.
• Árvores e Flores.
• Não danificar e nem retirar para levar para casa. Plantar em locais previamente aprovados.

• Som – Utilizar altura que não incomode os outros associados.

• Água – Utilizar racionalmente para não haver desperdício. Na Sede Campestre II, usar preferencialmente a água do poço do rio para regar plantas e gramas.

• A prevenção de acidentes nas utilizações das instalações devem ser prioridades. Mantê-los adequadamente limpos é uma obrigação.
• Animais – É proibido entrar com animais. Eles respeitam o dono, mas podem ser perigosos para os outros associados.

            <b>9. MENSALIDADE / TAXAS / CONTRIBUIÇÕES</b>
            Mensalidade: R$ 80,00 por mês cobrados mensalmente a partir de maio/2020.
Sócio Junior: R$ 40,00
Taxa de Inscrição: Isento. Mas solicita-se a cobrança de três mensalidades antecipadamente.
A UCENS não participará dos valores cobrados pelos professores contratados pelos departamentos. Cada departamento se responsabilizará pela cobrança dos alunos e depois transferir para o professor.

            <b>10. ALTERAÇÃO DO REGULAMENTO INTERNO</b>
            O Presidente alterará livremente o Regulamento Interno desde que seja aprovada por mais de 75% dos membros da Diretoria executiva da reunião mensal.

        </pre>