<div class="container my-5">
    <h2 class="fw-bold mb-4 text-center">Diretoria Executiva Nippon Sorocaba 2024/2025</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>CARGO</th>
                <th>NOME</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PRESIDENTE</td>
                <td>ROBSON YOSHIAKI SHINDE</td>
            </tr>
            <tr>
                <td>1º VICE-PRESIDENTE</td>
                <td>OSCAR NORIMITSU MARIYA</td>
            </tr>
            <tr>
                <td>2º VICE-PRESIDENTE</td>
                <td>MARCELO SUSSUMU YAMAYA</td>
            </tr>
            <tr>
                <td>1º FINANCEIRO</td>
                <td>GRACIANO SIMÕES OIKAWA</td>
            </tr>
            <tr>
                <td>2º FINANCEIRO</td>
                <td>MARISA MAYUMI MISHIMA</td>
            </tr>
            <tr>
                <td>1º SECRETÁRIO</td>
                <td>DIEGO SIVIERO CAMPOS</td>
            </tr>
            <tr>
                <td>2º SECRETÁRIO</td>
                <td>NANCY NAOMI IKEDA</td>
            </tr>
            <tr>
                <td>1º JURÍDICO</td>
                <td>CAMILA FROTA NAKAZONE</td>
            </tr>
            <tr>
                <td>2º JURÍDICO</td>
                <td>TOSHIAKI SHITARA</td>
            </tr>
            <tr>
                <td>1º CULTURAL</td>
                <td>ELTON MURAKAMI</td>
            </tr>
            <tr>
                <td>2º CULTURAL</td>
                <td>GUILHERME KATSUMI MISHIMA</td>
            </tr>
            <tr>
                <td>1º SOCIAL</td>
                <td>SERGIO MARCOS DE OLIVEIRA</td>
            </tr>
            <tr>
                <td>2º SOCIAL</td>
                <td>MARCIO MASSAO FUKUSHIMA</td>
            </tr>
            <tr>
                <td>1º PATRIMÔNIO</td>
                <td>MARIO OKADA</td>
            </tr>
            <tr>
                <td>2º PATRIMÔNIO</td>
                <td>VITOR TOSHIMITSU MARIYA</td>
            </tr>
            <tr>
                <td>1º RELAÇÕES PÚBLICAS</td>
                <td>JEFFERSON TAKEDA</td>
            </tr>
            <tr>
                <td>2º RELAÇÕES PÚBLICAS</td>
                <td>WILLIAN KOICHI YONEMURA</td>
            </tr>
        </tbody>
    </table>
    <h3 class="fw-bold mt-5 mb-3 text-center">DIRETORES DE DEPARTAMENTOS - 2024/2025</h3>
    <table class="table table-bordered table-striped mb-4">
        <thead class="table-dark">
            <tr>
                <th>DEPARTAMENTO</th>
                <th>NOME</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BASEBALL</td>
                <td>THIAGO YUZO YAMAMOTO</td>
            </tr>
            <tr>
                <td>FUJIN</td>
                <td>ELIANA CIBELE CARAM TSUJINO</td>
            </tr>
            <tr>
                <td>FUTEBOL</td>
                <td>-</td>
            </tr>
            <tr>
                <td>GATEBALL</td>
                <td>GILBERTO XAVIER DA COSTA</td>
            </tr>
            <tr>
                <td>KARAOKE</td>
                <td>CARLOS OGANE</td>
            </tr>
            <tr>
                <td>MALLET GOLF</td>
                <td>HELVECIO SIQUEIRA DE OLIVEIRA</td>
            </tr>
            <tr>
                <td>NITIGO</td>
                <td>ISSAO KAGIYAMA E DIOGI MATSUSHITA</td>
            </tr>
            <tr>
                <td>ROOJIN</td>
                <td>MITIKO HARASAKI</td>
            </tr>
            <tr>
                <td>SHOGUI</td>
                <td>SADAYASU NEMOTO</td>
            </tr>
            <tr>
                <td>TAIKO</td>
                <td>LEONARDO VICENTE DA SILVA</td>
            </tr>
            <tr>
                <td>TÊNIS DE CAMPO</td>
                <td>SERGIO SHIMURA</td>
            </tr>
            <tr>
                <td>TÊNIS DE MESA</td>
                <td>MARISA MAYUMI KUROSAWA MISHIMA</td>
            </tr>
            <tr>
                <td>JUDO</td>
                <td>LUCIANA SHIZUE FUJIMOTO TANI</td>
            </tr>
        </tbody>
    </table>

    <h3 class="fw-bold mt-5 mb-3 text-center">CONSELHO FISCAL - 2024/2025</h3>
    <table class="table table-bordered table-striped mb-4">
        <thead class="table-dark">
            <tr>
                <th>CONSELHO</th>
                <th>NOME</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CONSELHO FISCAL TITULAR</td>
                <td>HUGO GOMES PIERONI</td>
            </tr>
            <tr>
                <td>CONSELHO FISCAL TITULAR</td>
                <td>ELIAS DE OLIVEIRA JUNIOR</td>
            </tr>
            <tr>
                <td>CONSELHO FISCAL TITULAR</td>
                <td>SERGIO TAKASHI MITSUOKA</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>CONSELHO FISCAL SUPLENTE</td>
                <td>MARIA EMIKO KANO</td>
            </tr>
            <tr>
                <td>CONSELHO FISCAL SUPLENTE</td>
                <td>PAULO YOSHIO IAMAGUTI</td>
            </tr>
            <tr>
                <td>CONSELHO FISCAL SUPLENTE</td>
                <td>MARCIO MASARU SAMBONMATSU</td>
            </tr>
        </tbody>
    </table>

    çç
</div>
