<nav class="navbar navbar-expand-lg navbar-light bg-white px-4 py-3">
  <a class="navbar-brand d-flex align-items-center me-auto" [routerLink]="authService.isLoggedIn() ? '/dashboard' : '/'" (click)="closeNavbar()"> 
    <img src="assets/img/logo-nippon.png" alt="Nippon Sorocaba" height="40">
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show': !isNavbarCollapsed}">
    <mat-toolbar color="transparent" class="app-toolbar flex-grow-1">

      <ng-container *ngIf="!authService.isLoggedIn()">
        <button mat-button routerLink="" class="nav-item" (click)="closeNavbar()">Home</button> 
        <button mat-button #insBtn="matMenuTrigger" [matMenuTriggerFor]="menuInstitutional" class="menu-button nav-item" [class.opened]="insBtn.menuOpen">
          <span class="menu-label">Institucional</span>
          <mat-icon class="menu-icon" iconPositionEnd>expand_more</mat-icon>
        </button>
        <mat-menu #menuInstitutional="matMenu">
          <button mat-menu-item routerLink="story" (click)="closeNavbar()">História</button>
          <button mat-menu-item routerLink="statute" (click)="closeNavbar()">Estatuto</button>
          <button mat-menu-item routerLink="regulations" (click)="closeNavbar()">Regulamento</button>
          <button mat-menu-item routerLink="directors" (click)="closeNavbar()">Diretoria</button>
          <button mat-menu-item routerLink="ex-presidents" (click)="closeNavbar()">Ex-Presidentes</button>
        </mat-menu>

        <button mat-button #sedBtn="matMenuTrigger" [matMenuTriggerFor]="menuSedes" class="menu-button nav-item" [class.opened]="sedBtn.menuOpen">
          <span class="menu-label">Sedes</span>
          <mat-icon class="menu-icon" iconPositionEnd>expand_more</mat-icon>
        </button>
        <mat-menu #menuSedes="matMenu">
          <button mat-menu-item routerLink="headquarter/social" (click)="closeNavbar()">Sede Social</button>
          <button mat-menu-item routerLink="headquarter/campestre1" (click)="closeNavbar()">Sede Campestre 1</button>
          <button mat-menu-item routerLink="headquarter/campestre2" (click)="closeNavbar()">Sede Campestre 2</button>
        </mat-menu>

        <button mat-button #depBtn="matMenuTrigger" [matMenuTriggerFor]="menuDeptos" class="menu-button nav-item" [class.opened]="depBtn.menuOpen">
          <span class="menu-label">Departamentos</span>
          <mat-icon class="menu-icon" iconPositionEnd>expand_more</mat-icon>
        </button>
        <mat-menu #menuDeptos="matMenu" class="app-menu">
          <button mat-menu-item routerLink="departments/sporty" (click)="closeNavbar()">Esportivos</button>
          <button mat-menu-item routerLink="departments/cultural" (click)="closeNavbar()">Culturais</button>
        </mat-menu>
        <button mat-button routerLink="events" class="nav-item" (click)="closeNavbar()">Eventos</button>
        <button mat-button routerLink="/contact" class="nav-item" (click)="closeNavbar()">Contato</button>
      </ng-container>

      <ng-container *ngIf="authService.isLoggedIn()">
        <button mat-button routerLink="/list-associates" class="nav-item" (click)="closeNavbar()">Associados</button>
        <button mat-button routerLink="/list-dependents" class="nav-item" (click)="closeNavbar()">Dependentes</button>
        <button mat-button routerLink="/list-activities" class="nav-item" (click)="closeNavbar()">Atividades</button>
        <button mat-button routerLink="/list-events" class="nav-item" (click)="closeNavbar()">Eventos</button>
        <button mat-button routerLink="/financial-dashboard" class="nav-item" (click)="closeNavbar()">Financeiro</button>
        <button mat-button routerLink="/list-suppliers" class="nav-item" (click)="closeNavbar()">Fornecedores</button>
        <button mat-button routerLink="/list-expenses" class="nav-item" (click)="closeNavbar()">Despesas</button>
        <button mat-button routerLink="/reports" class="nav-item" (click)="closeNavbar()">Relatórios</button>
        
        <ng-container *ngIf="isAdmin">
          <button mat-button routerLink="/list-users" class="nav-item" (click)="closeNavbar()">Usuários</button>
        </ng-container>
        </ng-container>

    </mat-toolbar>

    <div class="navbar-nav ms-auto login-section">
      <ng-container *ngIf="!authService.isLoggedIn(); else loggedMenu">
        <button class="btn btn-outline-primary" routerLink="/login" (click)="closeNavbar()">Login</button> 
      </ng-container>

      <ng-template #loggedMenu>
        <span *ngIf="userName" class="navbar-text me-2 welcome-message" (click)="viewProfile()">
          Olá {{ userName }}, seja bem vindo!
        </span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="viewProfile()"> 
            <mat-icon>person</mat-icon>
            Visualizar Perfil
          </button>
          <button mat-menu-item (click)="logout()"> 
            <mat-icon>logout</mat-icon>
            Sair
          </button>
        </mat-menu>
      </ng-template>
    </div>
  </div>
</nav>

<hr class="header-divider m-0" />